footer{
    @include center-box;
    background: #000000c7;
    color: #fffffff0;
    padding: 20px 0;
    a:link{
        color: #fffffff0;
    }
    h2{
        width: 90%;
        font-family: $font2;
        font-size: 1rem;
        letter-spacing: 1px;
        margin-bottom: 15px;
    }
    ul{
        width: 90%;
        line-height: 20px;
        li{    
            font-size: .8rem;
            cursor: pointer;        
        }
    }    
}
@media screen and (min-width: 930px){
    footer{
        flex-direction: row;
        h2{
            width: 30%;
            margin: 0 auto;
            margin-left: 20px;
        }
        ul{
            width: 70%;
            display: flex;
            justify-content: space-around;
        }
    }
}